GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-oauth-client-secret
SUPABASE_DATABASE_URL=postgresql://postgres:your-password@db.project-ref.supabase.co:5432/postgres
SUPABASE_DATABASE_PASSWORD=your-supabase-database-password
SUPABASE_DATABASE_SSL_CERT=./supabase/prod-supabase.cer.crt
PORT=3000
BASE_URL=http://localhost:3000
